*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
  text-align: center;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

header h1{
  margin: 40px 0;
  font-size: 40px;
  color: #E53170;
}

main .container p{
  margin-bottom: 40px;
}

.cards-display .row{
  margin-bottom: 50px;
}

.card{
  width: calc((100%/3) - 20px);
  height: 100px;
  background-color: #0F0E17;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.178);
  float: left;
}

.card:not(:last-child){
  margin-right: 30px;
}

.card img{
  height: 100%;
  float: left;
  margin-right: 15px;
}

.card-info ul{
  list-style: none;
}

.card .card-info{
  color: white;
  margin-top: 5px;
  float: left;
}

.card-info.name{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
}

.card-info.email{
  color: rgb(53, 200, 236);
}

.card-info.email::after{
  content: "@team.com";
}